.App {
  font-family: sans-serif;
  text-align: center;
}

.DefaultContainer {
  width: 100vw;
  height: 100vh;
}

.Container {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.Active {
  visibility: visible;
}
